/Week_1/game_of_life/.idea/
/Week_1/game_of_life/.ipynb_checkpoints/
/.idea/
/.ipynb_checkpoints/
/Week_1/game_of_life/Resources/
/Week_1/game_of_life/marcozzi_game_of_life.zip
/An Introduction to Computer Simulation Methods.pdf
/Week_2/Leath/.idea/
/Week_2/.ipynb_checkpoints/
/Week_1/marcozzi_game_of_life.zip
/Week_1/Resources/
/SimulationModelingText.pdf
